body 	{
	/*
			background-image: 		url("hires/bg.jpg");
			background-position: 	center center;
			overflow: 				hidden;
			background-size: 		cover;
	*/		
			margin: 0px;
		}

.inputs {
	background-color : #def;
}

.visual {
	background-color : #ddd;
}

li {
	list-style-type: none;
}